body{
    margin: 0;
    padding: 0;
   // background: url("../images/login.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("../img/d22.jpg");
    //background-color:activecaption;
  position: inherit;
    height: 150vh;
    background-size: cover;
    background-position: center;
}
ul{
    float:right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display:inline-block;
}
ul li a{
    text-decoration: none;
    color:#fff;
    padding:5px 20px;
    border:1px solid transparent;
   transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
  background-color: #fff;
    color: #000;  
}
.main{
    max-width: 1200px;
    margin: auto;
}
.login-box{
    width:100vh;
    height:400px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    top:60%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avtar{
    width:100px;
    height:100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left:calc(50%-50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"],input[type="password"]
{
border:none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
color:#fff;
font-size: 16px;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover{
    cursor:pointer;
    background: #39dc79;
    color: #000;
}

