
.login-box1{
    width:320px;
    height:200px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    top:160%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avtar{
    width:100px;
    height:100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left:calc(50%-50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    
}
.login-box1 p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box1 input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box1 input[type="text"],input[type="password"]
{
border:none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
color:#fff;
font-size: 16px;
}
.login-box1 input[type="submit"]
{
    border: none;
    outline: none;
    height: 240px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box1 input[type="submit"]:hover{
    cursor:pointer;
    background: #39dc79;
    color: #000;
}